body {
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    padding: 0;
}

.container {
    background-color: white;
    margin: 1.25rem;
    border-radius: 1rem;
    width: auto;

    img {
        max-width: 100%;
        height: auto;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }
}

.container-text {
    padding: 0rem 1.15rem 1.15rem;

}

.product-category {
    font-family: 'Montserrat', sans-serif;
    font-size: .75rem;
    color: hsl(228, 12%, 48%);
    letter-spacing: .35rem;
    margin: 0rem;
    padding: 1rem 0rem 1rem;
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.75rem;
    margin: 0rem;
}

.product-description {
    font-family: 'Montserrat', sans-serif;
    font-size: .85rem;
    font-weight: 500;
    line-height: 1.5;
    color: hsl(228, 12%, 48%);
    margin: 0rem;
    padding: 1rem 0rem 0rem;
}

.discount-price {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    margin: 0rem;
}

.retail-price {
    font-family: 'Montserrat', sans-serif;
    font-size: .85rem;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    margin: 0rem;

}

.price-tag {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1rem 0rem 1rem;
}

button {
    background-color: hsl(158, 36%, 37%);
    border-radius: .75rem;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    padding: .75rem 3rem;

    display: flex;
    width: 100%;
    justify-content: center;
    gap: .85em;
}

@media screen and (max-width: 600px) {
    .desktop-image {
        display: none;
    }
}

@media screen and (min-width: 600px) {

    .mobile-image {
        display: none;
    }

    .container {
        display: flex;
        max-width: 650px;
        max-height: 475px;

        img {
            max-width: 100%;
            height: 100%;
            border-top-right-radius: 0rem;
            border-bottom-left-radius: 1rem;
        }
    }

    .container-text {
        width: 70%;
        padding-left: 0rem;
        margin-top: 1rem;
        margin-left: 0rem;

    }

    .product-category {
        padding: 1.5rem 0rem 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    .product-description {
        padding: 1.75rem 0rem 0rem;
    }

    .price-tag {
        padding: 1.5rem 0rem 2rem;
    }

    button {
        width: 96%;
    }

    button:hover {
        background-color: hsl(157, 33%, 22%);
    }

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}